/*
	MAIN LESS FILE
	Compiled to css/main.css
	My Stuff App
	by Terry Griffin
	July 2015
*/
/* ======
	LESS FILE IMPORTS
/  ====== */
/*
	LIST VIEW
	Imported to less/main.less
	Compiled to css/main.css
	My Stuff App
	by Terry Griffin
	July 2015
*/
/* ======
	STYLES
/  ====== */
/* === layout === */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
.main {
  position: relative;
}
.main .list-filter {
  position: absolute;
}
.object {
  margin: 1em 0.5em;
  float: left;
}
.object:after {
  display: block;
  content: '';
  clear: both;
}
.object img {
  max-width: 200px;
}
/*
	DETAIL VIEW
	Imported to less/main.less
	Compiled to css/main.css
	My Stuff App
	by Terry Griffin
	July 2015
*/
.detail-img {
  width: 20%;
}
/*
	MASTHEAD
	Imported to less/main.less
	Compiled to css/main.css
	My Stuff App
	by Terry Griffin
	July 2015
*/
/* ======
	STYLES
/  ====== */
/* === layout === */
#masthead {
  width: 100%;
  height: 300px;
}
/* ======
	VARIABLES
/  ====== */
/* ======
	FONT IMPORTS
/  ====== */
/* ======
	STYLES
/  ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* === fonts === */
html {
  font-size: 16px;
}
body {
  font-family: 'Lato';
  color: #aaaaaa;
  background: #333333;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #919191;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  margin: 0.5em 0;
}
h4,
p {
  font-size: 1rem;
}
p {
  font-weight: 200;
  line-height: 1;
}
.subtitle {
  display: block;
  font-weight: 100;
}
/* === LAYOUT === /
/
/
/
*/
img {
  width: 100%;
}
.canvas {
  width: 100%;
  background: #333333;
}
.canvas:after {
  content: ' ';
  display: block;
  clear: both;
}
