
	<div class="main">
	<!-- ng-controller="MainController" -->
		<h2>{{title}}</h2>


		<!-- List Filters -->
		<div class="list-filter"> 
			<!-- 
				Filter the list by search. Bind the INPUT TEXT to a filter with the value :query. See element below with class='object'.
			-->
			<input type="search" ng-model="query">
			<!--  
				Filter the list order items into a specific arrangement. Bind the SELECTION to the 'orderBy' filter w/ value :listOrder. See element below with class='object'.
			-->
			<select ng-model="listOrder">
				<option value="type">Type</option>
				<option value="location">Location</option>
				<option value="name">Name</option>
				<option value="age">Age</option>
				<option value="condition">Condition</option>
			</select>
		</div>

		<!-- List Object Template -->
		<div class="object" ng-repeat="item in everyday | filter:query | orderBy:listOrder">

			<!-- partial template-->
			<a ui-sref="/"><h3>{{item.name}} 
				<small class="subtitle">{{item.id}}</small>
			</h3></a>
			<img ng-src="{{item.image}}">
			<p>{{item.condition}}</p>
			<p>{{item.location}}</p>

		</div>
	</div>